{% assign metafields = product.metafields.custom %}



<div class="custom-product-page-details">
  <div class="custom-item-data-block">
    <div class="custom-item-title-block">
      <div class="custom-item-title-title-block">{{product.title}}</div>
      <div class="custom-item-title-price-block">{{product.price | money}}</div>
   </div>

    <div class="custom-item-data-field"> 
        <span>Breed:</span>
        <span>{{metafields.breed_information.value.name.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Color:</span>
        <span>{{metafields.color.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Gender:</span>
        <span>{{metafields.sex.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Date of Birth:</span>
        <span>{{metafields.birthdate.value | date: "%B %d, %Y"}}</span>
    </div> 

    <div class="custom-included-options-label">What's included</div>

    <div class="custom-included-options-list">
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Vaccinations</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Genetic Health</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Vet checks</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Passport</p>
       </div>
    </div>

    <div class="custom-reservation-label">Reserve this kitten now ($500 only)!</div>

    <div class="custom-product-reservation-button">
       <button>Reservation</button>
       {% form 'product', product %}
         {{ form | payment_button }}
       {% endform %}

    </div>

    <div class="custom-contact-label">Have questions? <span>Request a call</span></div>

    <div class="custom-product-contact-block">
       <div class="custom-call-request-button">
          <button>Request a call</button>
       </div>
       <div class="custom-whatsapp-button">
          <button>Contact via WhatsApp</button>
       </div>
    </div>

    <div class="custom-addons-label">Add Ons</div>
    <div class="custom-addons-block">
       {%- for block in section.blocks -%}
          {%- if block.type == 'custom-block' -%}
             {% for product in block.settings.addons.products %}
               <div class="custom-addons-block-item">
                <label>
                  <input type="checkbox" name="id" value="{{ product.variants[0].id }}">
                             {{ product.title }}
                </label>
               </div>
             {% endfor %}
           {% endif %}
         {% endfor %}
      </div>
  </div>
</div>