



{% comment %}
   data field block
{% endcomment %}
   <div class="custom-item-data-field"> 
      <span>{{metafield.name}}:</span>
      <span>{{metafield.value}}</span>
   </div>

{% comment %}
   title block
{% endcomment %}
    <div class="custom-item-title">
       <div class="custom-item-title-left-block">{{product.title}}</div>
       <div class="custom-item-title-right-block">{{product.price}}</div>
    </div>

 
{% comment %}
   status badge
{% endcomment %}
     <div class="status-badge">
         {{product.metafields.custom.status}}
     </div>
  
{% comment %}
   state badge
{% endcomment %}
    <div class="state-badge">
         {{product.metafields.custom.state}}
     </div>

{% comment %}
   included list
{% endcomment %}
    <div class="custom-included-options-list">
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p></p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p></p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p></p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p></p>
       </div>
    </div>