






<div class="custom-product-page-details">

   <div class="custom-item-title-block">
      <div class="custom-item-title-left-block">{{product.title}}</div>
      <div class="custom-item-title-right-block">{{product.price}}</div>
   </div>
     
    <div class="custom-item-data-field"> 
        <span>Breed:</span>
        <span>{{metafields.breed.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Color:</span>
        <span>{{metafields.breed.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Gender:</span>
        <span>{{metafields.breed.value}}</span>
    </div> 
    <div class="custom-item-data-field"> 
        <span>Date of Birth:</span>
        <span>{{metafields.breed.value}}</span>
    </div> 
     
    <h3>What's included</h3>

    <div class="custom-included-options-list">
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Vaccinations</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Genetic Health</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Vet checks</p>
       </div>
       <div class="custom-included-options-list-item">
         <svg></svg>
         <p>Passport</p>
       </div>
    </div>
    <h2>Reserve this kitten now ($500 only)!</h2>
</div>